<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usts.cs2022.mapper.SingerMapper">
    <insert id="addSinger">
        insert into singer(name, sex, birth, pic, location, introduction)
        values (#{name}, #{sex}, #{birth}, #{pic}, #{location}, #{introduction})
    </insert>
    <update id="updateSinger">
        update singer
        <set>
            <if test="name != null"> name = #{name} </if>
            <if test="sex != null"> sex = #{sex} </if>
            <if test="birth != null"> birth = #{birth} </if>
            <if test="pic != null"> pic = #{pic} </if>
            <if test="location != null"> location = #{location} </if>
            <if test="introduction != null"> introduction = #{introduction}</if>
        </set>
    </update>

    <select id="searchBySinger" resultType="cn.edu.usts.cs2022.pojo.po.Singer">
        select * from singer
        <where>
            <if test="keyword != null">
                and (name like concat('%', #{keyword}, '%'))
                or name in (select singer_name from song where song.name like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>
</mapper>