<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usts.cs2022.mapper.SongMapper">

    <select id="searchBySong" resultType="cn.edu.usts.cs2022.pojo.po.Song">
        select * from song
        <where>
            <if test="keyword != null">
                 and (name like concat('%', #{keyword}, '%'))
                 or (singer_name like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getByIds" resultType="cn.edu.usts.cs2022.pojo.po.Song">
        select * from song where id in
        <foreach collection="songIdList" item="songId" separator="," open="(" close=")">
            #{songId}
        </foreach>
    </select>
</mapper>