<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.edu.usts.cs2022.mapper.SongMapper">
    <insert id="addSong">
        insert into song(singer_name, name, create_time, update_time, pic, url)
        values (#{singerName}, #{name}, now(), now(), #{pic}, #{url})
    </insert>
    <update id="updateSong">
        update song
        <set>
            <if test="singer_name != null"> singer_name = #{singerName},</if>
            <if test="name != null"> name = #{name}, </if>
            <if test="1 = 1"> update_time = now(), </if>
            <if test="pic != null"> pic = #{pic}, </if>
            <if test="url != null"> url = #{url}, </if>
        </set>
    </update>

    <select id="searchBySong" resultType="cn.edu.usts.cs2022.pojo.po.Song">
        select * from song
        <where>
            <if test="keyword != null">
                 and (name like concat('%', #{keyword}, '%'))
                 or (singer_name like concat('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <select id="getByIds" resultType="cn.edu.usts.cs2022.pojo.po.Song">
        select * from song where id in
        <foreach collection="songIdList" item="songId" separator="," open="(" close=")">
            #{songId}
        </foreach>
    </select>
</mapper>